@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using (Html.BeginForm("Play", "Speach", FormMethod.Get))
{
    <input type="text" placeholder="Email" name="text">
    <button type="submit">Play</button>
}