* {
    padding: 0;
}

.card {
    width: 100px;
    height: 150px;
    float: left;
    margin: 10px;
    border: 1px solid #ccc;
}

.card .front {
    margin: 2px;
    background-color: aquamarine;
    height: 146px;
}

.card .front .content {
    margin: auto;
    padding-top: 33px;
    width: 100%;
    text-align: center;
    font-size: 70;
}

.card .front .toolbar {
    position: relative;
    height: 28px;
    width: 100%;
    bottom: 0px;
    margin-left: 60px;
}

.card .end {
    background-color: brown;
}